:root {
    --main-color-white: #FFFFFF;
    --main-color-blue: #08A6E4;
    --main-color-red: #FB3B64;
    --main-color-green: #55DFB4;
    --main-color-black: #000000;
    --main-color-gray: #A5A5A5;
    --font-family-OpenSans: 'Open Sans', sans-serif;
    --font-family-Raleway: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-OpenSans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}


/* sekcja header */

.page-header .container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
}

.page-logo {
    padding: 17px 80px;
    font-family: var(--font-family-Raleway);
    font-size: 32px;
    color: var(--main-color-blue);
    font-weight: 300;
}

.page-nav-list {
    display: flex;
    padding-right: 60px;
}

.page-nav-list li {
    padding: 28px;
}

.page-nav-list a {
    color: var(--main-color-gray);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
}

.page-nav-list a:hover {
    color: var(--main-color-black);
    border-color: var(--main-color-blue);
}


/* sekction 1 */

.page-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 130px;
}

.container h1 {
    font-size: 49px;
    font-family: var(--font-family-Raleway);
    font-weight: 400;
    color: var(--main-color-black);
    padding-bottom: 20px;
}

.container p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 60px;
}

img {
    width: 100%;
    height: 100%;
}

.btn-first {
    background-color: var(--main-color-blue);
    border-radius: 40px;
    padding: 22px 157px;
    color: var(--main-color-white);
}


/* Section 2 Stats */

.stats {
    margin-top: 100px;
}

h2 {
    font-size: 36px;
    font-family: var(--font-family-Raleway);
    text-align: center;
}

.stats-all-columns {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.stats-single-column {
    max-width: 176px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-family-Raleway);
}

.stats-circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.stats-img {
    position: absolute;
}

.stats-single-column:nth-child(1) .stats-circle {
    background-color: var(--main-color-red);
}

.stats-single-column:nth-child(1) .stats-img {
    top: 0;
    left: 40%;
}

.stats-single-column:nth-child(2) .stats-circle {
    background-color: var(--main-color-blue);
}

.stats-single-column:nth-child(2) .stats-img {
    top: 0;
    left: 50%;
}

.stats-single-column:nth-child(3) .stats-circle {
    background-color: var(--main-color-green);
}

.stats-single-column:nth-child(3) .stats-img {
    top: 0;
    left: 35%;
}

.stats-number {
    margin-top: 15px;
    font-size: 20px;
    font-family: var(--font-family-Raleway);
    font-weight: 800;
    letter-spacing: 5.96px;
}

.stats-text {
    margin-top: 19px;
    font-family: var(--main-color-gray);
}


/* Section 3 benefits */

.benefits {
    background-color: #F7F7F7;
    padding: 105px 0;
}

.benefits-container {
    padding: 0 105px;
}

.benefits-single-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--main-color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 37px;
}

.benefits-text {
    max-width: 516px;
    margin: 91px 35px;
    /* nie działa text-align left bo w wierszu 116 jest h2 center. Jak to zmienić? */
    text-align: left;
}

.benefits-title {
    text-align: left;
}


/* Dodajemy czerwone podkreślenie pod benefits-text za pomocą zminnnej lokalnej--next color */

.benefits-text::after {
    content: "";
    width: 327px;
    height: 4px;
    margin-top: 50px;
    background-color: var(--next-color);
    display: block;
}

.benefits-paragraf {
    margin-top: 30px;
}

.benefits-img {
    position: relative;
}

.benefits-img img {
    position: relative;
    z-index: 2;
}

.benefits-macbook {
    --next-color: var(--main-color-red);
}

.benefits-macbook .benefits-img {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits-macbook .benefits-img::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--main-color-red);
    transform: rotate(45deg);
    border-radius: 40px;
    position: absolute;
    left: 200px;
    /* Nie wiem czemu nie mogę wyżej podnieść kwadratu zwiekszam top i nic się nie dzieje*/
    top: -60px;
}

.benefits-macbook .benefits-img img {
    width: 386px;
    height: auto;
}


/* Stylujemy rząd z telefonem */


/* Dodajemy niebieskie podkreślenie pod benefits-text za pomocą zminnnej lokalnej--next color */

.benefits-iphone {
    --next-color: var(--main-color-blue);
    padding: 29px 70px;
    flex-direction: row-reverse;
}

.benefits-iphone .benefits-img::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--main-color-blue);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: -20px;
}

.benefits-iphone .benefits_img img {
    width: 450px;
    height: auto;
}

.benefits-iphone .benefits-text {
    margin: 70px 0;
}


/* stylujemy 3 rząd */


/* Dodajemy zieloną linię pod textem */

.benefits-double-row {
    --next-color: var(--main-color-green);
    display: flex;
    /* Nie chce mi się margin 0 */
    margin-top: 0px;
}

.benefits-double-row>div {
    margin-bottom: 0;
}

.benefits-single-row-image {
    max-width: 620px;
}

.benefits-double-row .benefits-text {
    max-width: none;
    margin: 70px 35px;
}

.benefits-single-row-image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--next-color);
    border: none;
    margin-left: 60px;
}

.benefits-single-row-image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}


/* Princing section */

.pricing {
    margin-top: 100px;
}

.pricing-boxes {
    max-width: 1352px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-box {
    width: 362px;
    border: 1px solid var(--next-color);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-details {
    margin-top: 34px;
    margin-bottom: 69px;
    text-align: center;
}

.pricing-title {
    font-size: 20px;
    font-family: var(--font-family-Raleway);
    font-weight: 700;
}

.pricing-price {
    font-size: 46px;
    color: var(--next-color);
    font-weight: 300;
    margin-top: 25px;
}

.pricing-limited {
    font-size: 12px;
    font-family: var(--font-family-Raleway);
    font-weight: 700;
    margin-top: 15px;
}

.pricing-lists {
    text-align: center;
}

.pricing-list,
.pricing-list-no {
    font-size: 14px;
    margin-bottom: 18px;
}

.pricing-list::before {
    content: "";
    width: 11px;
    height: 11px;
    background-image: url(../assets/Checkmark.svg);
    border: 1px solid var(--main-color-green);
    border-radius: 2px;
    display: inline-block;
    margin-right: 5px;
}

.pricing-list-no::before {
    content: "";
    width: 11px;
    height: 11px;
    background-image: url(../assets/Close.svg);
    border: 1px solid var(--main-color-red);
    border-radius: 2px;
    display: inline-block;
    margin-right: 5px;
}

.pricing-box .btn {
    position: relative;
    bottom: -25px;
    font-size: 13px;
    background-color: var(--next-color);
}

.pricing-box-basic {
    --next-color: var(--main-color-red);
}

.pricing-box-basic .pricing-price {
    margin-bottom: 30px;
}

.pricing-box-professional {
    --next-color: var(--main-color-blue);
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px #07ACE629;
}

.pricing-box-professional .pricing-title {
    font-size: 21px;
}

.pricing-box-professional .pricing-list {
    margin-bottom: 25px;
}

.pricing-box-premium {
    --next-color: var(--main-color-green);
}


/* Sekcja formularz */

.contact {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
}

.contact-column {
    width: 50%;
}

.contact-title {
    font-size: 49px;
    line-height: 3.6875rem;
}

.contact-instruction {
    margin: 22px 0 42px;
    font-size: 16px;
    line-height: 22px;
}

.contact-details {
    display: flex;
    justify-content: flex-start;
    color: var(--main-color-gray);
    align-items: center;
}

.details-item {
    color: var(--main-color-gray);
    font-weight: 500;
    text-decoration: none;
}

.details-item:first-of-type {
    margin-right: 20px;
}

.details-item img {
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field:first-of-type {
    margin-bottom: 42px;
}

.form-label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-color-blue);
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}

.form-input {
    border: none;
    border-bottom: 1px solid var(--main-color-gray);
    background-color: transparent;
    line-height: 2.625rem;
}

.form-consent {
    margin-top: 30px;
}

.form-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

.form-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form-checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--main-color-white);
    border: 1px solid var(--main-color-gray);
    border-radius: 4px;
}

.form-checkbox input:checked~.checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.form-checkbox .consent-text {
    margin: 0 10px;
    font-size: 12px;
    color: var(--main-color-gray);
    line-height: 17px;
}

.form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
}


/* Sekcja footer */

.footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page-logo {
    font-size: 26px;
}

.footer-copy {
    font-size: 11px;
    line-height: 24px;
    color: var(--color-grey);
    margin-top: 6px;
}

.footer-icons a:nth-child(1) {
    margin-right: 25px;
}