:root {
    --main-color-white: #FFFFFF;
    --main-color-blue: #08A6E4;
    --main-color-red: #FB3B64;
    --main-color-green: #55DFB4;
    --main-color-black: #000000;
    --main-color-gray: #A5A5A5;
    --font-family-OpenSans: 'Open Sans', sans-serif;
    --font-family-Raleway: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-OpenSans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}


/* sekcja header */

.page-header .container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
}

.page-logo {
    padding: 17px 80px;
    font-family: var(--font-family-Raleway);
    font-size: 32px;
    color: var(--main-color-blue);
    font-weight: 300;
}

.page-nav-list {
    display: flex;
    padding-right: 60px;
}

.page-nav-list li {
    padding: 28px;
}

.page-nav-list a {
    color: var(--main-color-gray);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
}

.page-nav-list a:hover {
    color: var(--main-color-black);
    border-color: var(--main-color-blue);
}